<section class="page-header" >
    <h1 class="project-name">
        <a href="/" style="text-decoration: none; color:inherit;"> 
            <img src="/images/glowingbear_80.png" width="80" style="vertical-align:middle; margin-right: 15px;">
            Glowing Bear
        </a>
    </h1>
    <h2 class="project-tagline">Modern cohort selector for i2b2 tranSMART</h2>
    <div class="links">
        <div><a href="/docs"><i class="material-icons">book</i><br/>
            <span>User Manual</span></a></div>
		<div><a href="https://github.com/thehyve/glowing-bear"><i class="material-icons">code</i><br/>
            <span>Open Source</span></a><span style="font-size:x-small;">At Github &#8212; licensed MPL2</span></div>
		<div><a href="http://glowingbear.thehyve.net"><i class="material-icons">laptop_chromebook</i><br/>
            <span>Demo</span></a></div>
	</div>
</section>