<section class="page-header">
	<h1 class="project-name"><img src="/images/glowingbear_80.png" width="80" style="vertical-align:middle; margin-right: 15px;">Glowing Bear</h1>
	<h2 class="project-tagline">Modern cohort selector for i2b2 tranSMART</h2>
	<div class="links">
        <div><a href="/"><i class="material-icons">home</i><br/>
            <span>Home</span></a></div>
        <div><a href="/docs"><i class="material-icons">book</i><br/>
            <span>Documentation</span></a></div>
		<div><a href="https://github.com/thehyve/glowing-bear"><i class="material-icons">code</i><br/>
            <span>Repository</span></a><span style="font-size:x-small;">Hosted at Github</span></div>
		<div><a href="http://glowingbear.thehyve.net"><i class="material-icons">laptop_chromebook</i><br/>
            <span>Hands-on</span></a><span style="font-size:x-small;">Login with demo-user/demo-user</span></div>
		<div><a href="https://github.com/thehyve/glowing-bear/blob/master/LICENSE"><i class="material-icons">copyright</i><br/>
            <span>MPL2</span></a><span style="font-size:x-small;">Free open source software</span></div>
	</div>
</section>