<section class="page-header">
	<h1 class="project-name"><img src="images/glowingbear_80.png" width="80" style="vertical-align:middle; margin-right: 15px;">Glowing Bear</h1>
	<h2 class="project-tagline">Modern cohort selector for i2b2 tranSMART</h2>
	<div class="links">
		<div><a href="https://github.com/thehyve/glowing-bear"><i class="material-icons">code</i><br/>
			<span>Repository</span></a></div>
		<div><a href="http://glowingbear.thehyve.net"><i class="material-icons">apps</i><br/>
			<span>Hands-on</span></a><span style="font-size:x-small;">Login with demo-user/demo-user</span></div>
		<div><a href="https://github.com/thehyve/glowing-bear/blob/master/LICENSE"><i class="material-icons">book</i><br/>
			<span>GPLv3</span></a><span style="font-size:x-small;">Moving to <a href="https://www.mozilla.org/en-US/MPL/">MPL2</a></span></div>
	</div>
</section>